<div class="container">
  <h1> Artist Results</h1>
  <div class="row">
    <% artists.forEach((artist) => { %>
    <div class="col-md-4">
      <div class="card">
        <% if (artist.images[0]) { %>
        <img class="card-img-top" src="<%= artist.images[0].url %>" alt="<%= artist.name %>" />
        <%} else { %>
        <p> Image not available </p>
        <% } %>
        <div class="card-body">
          <h5 class="card-title"><%= artist.name %></h5>
          <a href="/albums/<%= artist.id %>">View Albums</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>